{% extends "base.html" %}

{% block content %}

{% if not blog_id and not blog_user%}
<h1>All Blogz!</h1>

{% for entry in bloglist %}
    <div class = "entry">
        <h2><a href="/blog?id={{entry.id}}">{{entry.title}}</a></h2>
        <p>{{entry.body}}</p>
        <p class = "written_by">written by <a href ="/blog?user={{entry.owner.username}}">{{entry.owner.username}}</a></p>
    </div>
    <hr />
{% endfor %}

{% endif %}

{% if blog_id %}
<h1>{{blog.title}}</h1>
<div class = "entry">
    
    <p>{{blog.body}}</p>
    <p class = "written_by">written by <a href ="/blog?user={{blog.owner.username}}">{{blog.owner.username}}</a></p>
</div>

{% endif %}

{% if blog_user%}

<h1>{{blog_user}}'s Blog!</h1>

{% for entry in user_bloglist %}
    <div class = "entry">
        <h2><a href="/blog?id={{entry.id}}">{{entry.title}}</a></h2>
        <p>{{entry.body}}</p>
        <p class = "written_by">written by <a href ="/blog?user={{entry.owner.username}}">{{entry.owner.username}}</a></p>

    </div>
    <hr />
{% endfor %}

{% endif %}

{% endblock %}