{% extends "base.html" %}
{% block content %}
    <h1>Log In to Blogz!</h1>
    <p>Don't have an account? <a href="/register">Create one!</a></p>
    <form action= "/login" method='POST'>
        <table>
            <tbody>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td><input name="username" type="text" value="{{username}}"></td>                    
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td><input name="password" type="password"></td>                    
                </tr>
            </tbody>
        </table>
        
                <input type="submit" value ="Login">   
                <input type="button" onclick="location.href='/register'" value ="Register">
        
    </form>

{% endblock %}